<div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
  <div class="px-6 py-4">
    <h2 class="text-xl font-semibold text-gray-800">Product Details</h2>
    <p class="text-gray-600 mt-2">
      Name: <span class="font-bold">{{ name | uppercase }}</span>
    </p>
    <p class="text-gray-600 mt-2">
      Product Price:
      <span class="font-bold">{{ price | currency : "USD" }}</span>
    </p>
    <p class="text-gray-600 mt-2">
      Date: <span class="font-bold">{{ date | date : "fullDate" }}</span>
    </p>
    <p class="text-gray-600 mt-2">
      Product Unit: <span class="font-bold">{{ pi | number : "1.2-2" }}</span>
    </p>
    <p class="text-gray-600 mt-2">
      Profit Percentage:
      <span class="font-bold">{{ fraction | percent : "1.1-2" }}</span>
    </p>
    <p class="text-gray-600 mt-2">
      Product details: <span class="font-bold">{{ obj | json }}</span>
    </p>
  </div>
</div>
<!--Custom Pipe-->
<div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
  <div class="px-6 py-4">
    <!-- <input type="text" [(ngModel)]="searchText" placeholder="Search by name" /> -->
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Search</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="searchText" placeholder="Search by name" 
      />
    </div>
    <ul>
      <li *ngFor="let user of users | filter : searchText : 'name'">
        {{ user.name }} ({{ user.age }} years old)
      </li>
    </ul>
  </div>
</div>

<!-- <div class="container my-4 ">
  <div class="">
    <h3>Counter :{{counter$ | async}}</h3>
  </div>
  <div class="flex flex-row justify-center">
    <div class="basis-1/4">
      <button class="btn btn-primary" (click)="onIncrement()">Increment</button>
    </div>
    <div class="basis-1/4">
      <button class="btn btn-primary" (click)="onDecrement()">Decrement</button>
    </div>
    <div class="basis-1/4">
      <button class="btn btn-primary" (click)="Reset()">Reset</button>
    </div>
  </div>
  <div class="flex my-5">
    <input type="number" [(ngModel)]="value" class=" styles block flex-1 border-10 border-gray-300 py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
    <button class="btn-primary" (click)="customizeTheValue()">CustomizeTheValue</button>
  </div>

</div> -->
