<mat-sidenav-container autosize>
  <mat-sidenav #sidenav fixedInViewport="true" mode="side" opened>
    <section >
      <mat-list  class="space-y-2 font-medium" >
        <section [class.sidenav]="isExpanded">
          <div class="toggle">
            <mat-icon (click)="toggleMenu()">
              {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
            </mat-icon>
          </div>
          
          <mat-list class="nav" *ngFor="let route of routeLinks" >
            <a
              mat-list-item
              routerLinkActive="active-link"
              class="hover"
              routerLink="{{ route.path }}"
              (click)="selectTheList(route)"
              [ngClass]="{'active':selectedRoute === route.label,'none':selectedRoute!==route.label}"
            >
            <div class="flex">
              <mat-icon
                mat-list-icon
                [matTooltip]="!isExpanded ? route.label : null"
                matTooltipPosition="right"
                class="mx-5"
                
              >
                {{ route.icon }}</mat-icon
              >
              <p matLine *ngIf="isExpanded" class="text-white">{{ route.label }}</p>
           
          </div>
        </a>
          </mat-list>
        </section>
      </mat-list>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>