.card-layout{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top:10px;
    cursor: pointer;
   
}
.dashboards{
    display: flex;
}
h3{
    color:white;
}

.icon-container {
    position: relative;
    display: inline-block;
  }
  
  .bag-icon {
    font-size: 2rem;
  }
  
  .plus-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    
  }
  .plus-icon.svg.svg-inline--fa.fa-circle-plus{
    background-color: white;
    border-radius: 50%;
  }